<mat-toolbar class="header mat-elevation-z8" color="primary">
  <span fxFlex>Ngx-nestable demo</span>
  <div class="demo-white-circle">
    <img src="assets/ngx_nestable.svg"
         width="56px">
  </div>
</mat-toolbar>

<div class="demo-content">
  <div fxLayout.lt-sm="column"
       fxLayoutGap="16px"
       fxFlexOffset="16px">
    <mat-button-toggle-group value="visibilty"
                             (change)="show($event)">
      <mat-button-toggle value="expandAll">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="collapseAll">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-button
            color="primary"
            (click)="list1 = pushItem(list1)">Push Item to list 1</button>
    <button mat-button
            color="primary"
            (click)="list2 = pushItem(list2)">Push Item to list 2</button>
    <div fxFlex></div>
    <mat-slide-toggle [checked]="options1.fixedDepth"
                      (change)="toggleFixedDepth(options1)">
      Fixed depth for list 1
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="options2.fixedDepth"
                      (change)="toggleFixedDepth(options2)">
      Fixed depth for list 2
    </mat-slide-toggle>
  </div>

  <div fxFlex
       fxLayout="row"
       fxLayout.lt-sm="column"
       fxFlexOffset="16px">
    <div fxFlex
         fxLayout="column">
      <div>
        <section class="mat-typography mb2">
          <h2>List 1</h2>

          Can swap items with list 2 and send to list 3
        </section>

        <ngx-nestable (drag)="drag($event)"
                      (drop)="drop($event)"
                      (disclosure)="onDisclosure($event)"
                      [(list)]="list1"
                      [options]="options1"
                      [template]="itemTemplate">
        </ngx-nestable>
      </div>

      <span>{{list1 | json}}</span>
    </div>

    <div class="ml2"></div>

    <div fxFlex
         fxLayout="column">
      <div>
        <section class="mat-typography mb2">
          <h2>List 2</h2>

          Can swap items with list 1 and receive form list 3
        </section>

        <ngx-nestable (drag)="drag($event)"
                      (drop)="drop($event)"
                      (disclosure)="onDisclosure($event)"
                      [(list)]="list2"
                      [options]="options2"
                      [template]="itemTemplate">
        </ngx-nestable>
      </div>

      <span>{{list2 | json}}</span>
    </div>

    <div class="ml2"></div>

    <div fxFlex
         fxLayout="column">
      <div>
        <section class="mat-typography mb2">
          <h2>List 3</h2>

          Sends to list 2 and receives from list 1
        </section>

        <ngx-nestable (drag)="drag($event)"
                      (drop)="drop($event)"
                      (disclosure)="onDisclosure($event)"
                      [(list)]="list3"
                      [options]="options3"
                      [template]="itemTemplate">
        </ngx-nestable>
      </div>

      <span>{{list3 | json}}</span>
    </div>
  </div>
</div>

<ng-template #itemTemplate
             let-row>
  <button mat-icon-button
          [ngxNestableDragHandle]="row">
    <mat-icon>drag_handle</mat-icon>
  </button>

  <button mat-icon-button
          *ngIf="row.item.children && row.item.children.length; else empty_item"
          [ngxNestableExpandCollapse]="row">
    <mat-icon>{{row.item.$$expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</mat-icon>
  </button>

  <div>Item: {{row.item.id}}</div>
</ng-template>

<ng-template #empty_item>
  <span style="width: 40px"></span>
</ng-template>