<mat-toolbar color="primary">
  <span fxFlex>Ngx-nestable demo</span>
  <div class="demo-white-circle">
    <img src="assets/ngx_nestable.svg" width="56px">
  </div>
</mat-toolbar>

<div class="demo-content">
  <div fxLayout.lt-sm="column" fxLayoutGap="16px" fxFlexOffset="16px">
    <button mat-raised-button color="primary"
      (click)="nestable.expandAll()">Expand All</button>
    <button mat-raised-button color="primary"
      (click)="nestable.collapseAll()">Collapse All</button>
    <button mat-raised-button color="primary"
      (click)="pushItem()">Push Item</button>
    <div fxFlex></div>
    <mat-slide-toggle (change)="toggleFixedDepth()">
      Fixed depth
    </mat-slide-toggle>
  </div>
  
  <div fxFlex fxLayout="row" fxLayout.lt-sm="column" fxFlexOffset="16px">
    <ngx-nestable [(list)]="list" #nestable
      [options]="options"
      [template]="itemTemplate" fxFlex="50">
    </ngx-nestable>
    
    <div style="position: fixed; left: 50%; height: calc(100vh - 150px); width: calc(50% - 30px);"
      fxFlex="1 1 auto" fxFlexOffset="16px" fxFlexOffset.lt-sm="0px">
      <textarea fxFlex>{{list | json}}</textarea>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-item>
  <button mat-icon-button [ngxNestableDragHandle]="item">
    <mat-icon>drag_handle</mat-icon>
  </button>
  <div>Item: {{item.id}}</div>
</ng-template>
